/* Wildcard selector, necessary to override browser defaults */
* {
    padding: 0;
    margin: 0;
}

/* General Styles */
body {
    font-family: "Sora", sans-serif;
    background: black;
    color: whitesmoke;
}

label {
    line-height: 2rem;
}

div {
    text-align: center;
}

/* Main table in the game area section */
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: left;
    font-family: "Courier New", serif;
    border-spacing: 5px;
}

th {
    color: yellow;
}

tr {
    line-height: 1.7rem;
    font-weight: 600;
}

a {
    color: yellow;
    font-size: 80%;
}

/* Classes */

/* For input elements */
.width-90 {
    width: 90px;
    background-color: white;
    color: black;
    height: 1.2rem;
}

.space-below {
    margin-bottom: 15px;
}

.space-above {
    margin-top: 15px;
}

button {
    width: 140px;
    height: 2rem;
    background-color: yellow;
    font-size: 110%;
    font-weight: 600;
    color: black;
    border: 1px solid grey;
}

.align-right {
    text-align: right;
 }


/* ID styling */
#title {
    margin-bottom: 20px;
}

#title a {
    color: lawngreen;
    font-style: italic;
    text-decoration: none;
}

#setup-area {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    border-bottom: 2px yellow solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-items: flex-end;
}

#align-center {
    text-align: center;
}

/* Media Query: mobile phones and larger - 476px and upwards*/
@media screen and (min-width: 476px) {

    td, th {
        padding-left: 20px;
    }
}
